*{
    padding: 0;
    margin: 0;
}
#feedback{
    background-image: url(feedback_done_bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
#feedback p{ 
  width: 500px;
  height: 100px;
  background: rgba(92, 86, 86, 0.479);
  padding: 40px 80px;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
#feedback p{
  font-size: 30px;
  color: #fff;
  margin-bottom: 40px;
  letter-spacing: 4px;
  font-weight: 400;
  font-family: 'montserrat';
  left: 50%;
  top: 50%;
}

#feedback img{
    width:50px;
    height:55px;
  }
